.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 2.5rem;
    padding: 12px;
    transition: all 300ms ease-in-out 0s;
    border-left: 3px solid transparent;
    color: #a3b1c6;

    .menu-title {
        display: flex;
        align-items: center;

        .icon {
            opacity: 90%;
        }

        .label {
            margin-left: 8px;
        }
    }

    .menu-dropdown {
        font-size: 16px;
        transform: rotate(180deg);
        transition: transform 0.35s cubic-bezier(0.4, 0, 0.2, 1);

        &.rotate {
            transform: rotate(0);
        }
    }

    &.active {
        opacity: 100%;
        background-color: #2a3542;
        color: var(--white);
        border-left-color: #30cb0d;
    }

    &:hover {
        background-color: #2a3542;
    }
}

.submenu {
    display: grid;
    grid-template-rows: 0fr;

    transition: grid-template-rows 350ms ease-in-out;

    .submenu-inner {
        overflow: hidden;
    }

    &.expanded {
        grid-template-rows: 1fr;
    }
}
